{% layout 'layout.liquid' %}
{% block content %}
  <div>
    <h1>
      Welcome to the fruit app</h1>
    <p>This app is all about fruits and comments</p>
    <img src="https://www.healthyeating.org/images/default-source/home-0.0/nutrition-topics-2.0/general-nutrition-wellness/2-2-2-3foodgroups_fruits_detailfeature.jpg?sfvrsn=64942d53_4" height="300px">
  </div>
{% endblock %}